
<nav class="sidebar2 d-none d-md-block"></nav>

<nav id="sidebar">
	<a href="Accueil.html">
		<div class="sidebar-header">
			<h1 class="d-none d-md-block">Plan-T</h1>
			<strong>PL.</strong>
		</div>
	</a>

	<ul class="list-unstyled components">
		<li class="active"><a href="Accueil.html" class="page"> <img
				class="hidden " src="../Images/accueil.png">
				<div class="Titre d-none d-md-block">
					<img src="../Images/accueil.png">&nbsp;&nbsp;&nbsp;&nbsp;Accueil
				</div>
		</a></li>

		<li><a href="Calendrier.html" class="page"> <img
				class="hidden" src="../Images/calendrier.png">
				<div class="Titre d-none d-md-block">
					<img src="../Images/calendrier.png">&nbsp;&nbsp;&nbsp;&nbsp;Calendrier
				</div>
		</a></li>

		<li><a href="Jardin.html" class="page"> <img class="hidden"
				src="../Images/plan.png">
				<div class="Titre d-none d-md-block">
					<img src="../Images/plan.png">&nbsp;&nbsp;&nbsp;&nbsp;Jardin
				</div>
		</a></li>

		<li><a href="Arrosage.html" class="page"> <img class="hidden"
				src="../Images/arrosage.png">
				<div class="Titre d-none d-md-block">
					<img src="../Images/arrosage.png">&nbsp;&nbsp;&nbsp;&nbsp;Arrosage
				</div>
		</a></li>

		<li><a href="Formation.html" class="page"> <img
				class="hidden" src="../Images/cours.png">
				<div class="Titre d-none d-md-block">
					<img src="../Images/cours.png">&nbsp;&nbsp;&nbsp;&nbsp;Formation
				</div>
		</a></li>

		<li><a href="MonCompte.html" class="page"> <img
				class="hidden" src="../Images/compte.png">
				<div class="Titre d-none d-md-block">
					<img src="../Images/compte.png">&nbsp;&nbsp;&nbsp;&nbsp;Connexion
				</div>
		</a></li>


	</ul>

	<div class="sidebar-footer">
		<ul class="list-unstyled components">
			<li><a href="Infos.html"> <img id="image_infos"
					src="../Images/infos.png">
			</a></li>
		</ul>
	</div>

</nav>
