<html lang="fr">
<html xmlns:th="https://www.thymeleaf.org">
<meta charset=utf-8>

<head>
<div th:replace="templates/header :: header"></div>
<title>PlanT - Calendrier</title>
<link rel="stylesheet" type="text/css"
	href="Views/Styles/Calendrier.css" />

</head>

<body>

	<div class="wrapper">

		<div th:replace="templates/Sidebar :: sidebar"></div>

		<div class="col-sm-12">
			<div id="content">

				<div class="col-sm-12">
					<div class="mb-4 block first">
						<div style="color: #808080;">
							<div style="font-size: 1.6em;">Quand planter quoi ? 🤔
								Toutes les infos ici ! 😉</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="mb-4 block first">
						<div style="color: #808080;">

							<a>Legende :</a>
						</div>
					</div>
				</div>

				<div style="padding: 10px;">
					<table style="width: 100%;">
						<tr class="separation">
							<th>Fruits</th>
							<th colspan="12">
								<table style="width: 100%;">
									<tr class="top">
										<td>Jan</td>
										<td>Fev</td>
										<td>Mars</td>
										<td>Avr</td>
										<td>Mai</td>
										<td>Juin</td>
										<td>Juil</td>
										<td>Août</td>
										<td>Sep</td>
										<td>Oct</td>
										<td>Nov</td>
										<td>Dec</td>
									</tr>

								</table>
							</th>

						</tr>

						<tr class="separation">
							<td>Tomate</td>
							<td colspan="12">
								<table style="width: 100%;">
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="brown"></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="6"></td>
										<td colspan="4" class="green"></td>
										<td colspan="2"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr class="separation">
							<td>Tomate</td>
							<td colspan="12">
								<table style="width: 100%;">
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="brown"></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="6"></td>
										<td colspan="4" class="green"></td>
										<td colspan="2"></td>
									</tr>
								</table>
							</td>

						</tr>
						<tr class="separation">
							<td>Tomate</td>
							<td colspan="12">
								<table style="width: 100%;">
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="brown"></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="6"></td>
										<td colspan="4" class="green"></td>
										<td colspan="2"></td>
									</tr>
								</table>
							</td>

						</tr>
					</table>
				</div>


			</div>
		</div>
</body>

</html>