<html lang="fr">
<html xmlns:th="https://www.thymeleaf.org">

<head>
<div th:replace="templates/header :: header"></div>
<title>PlanT - Compte</title>
<link rel="stylesheet" type="text/css" href="Views/Styles/MonCompte.css" />
<script src="Views/Scripts/MonCompte.js"></script>
<script>
	function switchOnOff() {
		var s1 = document.getElementsByClassName('switchs');
		var s2 = document.getElementsByClassName('switchs2');
		var s3 = document.getElementById('editButton');
		var s4 = document.getElementById('UpdateButton');

		for (let i = 0; i < 100; i++) {
			if (s1[i].style.display === "block") {
				s1[i].style.display = "none";
				s4.style.display = "none"
				s2[i].style.display = "block";
				document.getElementById("editButton").innerHTML = "Edit";
				document.getElementById("myForm").reset();
			} else {
				s1[i].style.display = "block";
				s2[i].style.display = "none";
				s4.style.display = "block"
				document.getElementById("editButton").innerHTML = "Cancel";

			}
		}

	}
	function mouseoverPass() {
		var obj1 = document.getElementById('pwd1');
		var obj2 = document.getElementById('pwd2');
		obj1.type = "text";
		obj2.type = "text";

	}
	function mouseoutPass(obj) {
		var obj1 = document.getElementById('pwd1');
		var obj2 = document.getElementById('pwd2');
		obj1.type = "password";
		obj2.type = "password";
	}
</script>
</head>

<body>

	<div class="wrapper">

		<div th:replace="templates/Sidebar :: sidebar"></div>

		<div class="col-sm-12">
			<div id="content">
				<div>
					<div class="container">

						<div class="row Initiale">
							<div class="col-7">
								<form id="myForm">
									<div class="fullBox">Mes informations</div>
									<div class="emptyBox">

										<div class="switchs2" th:text="${user.name}"></div>
										<div class="switchs">
											<input class="formInput" type="text" id="fname" name="fname"
												value="Raphael"> <input class="formInput"
												type="text" id="lname" name="fname" value="Caillon"><br>
										</div>

										<hr>
										<div th:text="${user.email}">lorem.ipsum@mail.com</div>

										<div class="switchs">

											<input class="formInput pwdInput" type="password" id="pwd1"
												name="fname" value="Lorem Ipsum Dolor"> <input
												class="formInput pwdInput" type="password" id="pwd2"
												name="fname" value="Lorem Ipsum"> <img
												src="Views/Images/eye.png" th:src="@{Views/Images/eye.png}"
												id="visibility" onmouseover="mouseoverPass();"
												onmouseout="mouseoutPass();" /> <br>
										</div>

										<div class="switchs2">Abonne aux nouvelles</div>
										<div class="switchs">
											<input type="checkbox" id="Nouvelles" name="Nouvelles"
												value="Subscribed"> <label for="fruit1">&nbsp;Abonne
												aux nouvelles</label>
										</div>

										<hr>

										<div>Cree le 12 Janvier 2020</div>

									</div>
									<div class="fullBox">
										<button type="button" id="editButton" class="neutralButton"
											onclick="switchOnOff()">Edit</button>
										<button type="button" id="UpdateButton"
											class="neutralButton right">Update</button>
									</div>
								</form>
							</div>


							<div class="col-5">
								<div class="fullBox">Ma participation</div>
								<div class="emptyBox">
									<div>Plantations : 4</div>
									<hr>
									<div>Arrosages : 4</div>
									<hr>
									<div>Cours suivi : 18/18</div>

								</div>

								<div class="fullBox Initiale">Param&egrave;tres</div>
								<div class="emptyBox">
									<div>
										<button class="buttonPara green">Devenir admin</button>
									</div>
									<hr>
									<div>
										<button class="buttonPara red">Supprimer mon compte</button>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
</body>


</html>