<html lang="fr">
<html xmlns:th="https://www.thymeleaf.org">


<head>
<div th:replace="templates/header :: header"></div>

<meta charset="utf-8">
<title>PlanT - Formation</title>

<link rel="stylesheet" type="text/css" href="Views/Styles/Accueil.css" />

<script src="Views/Scripts/WeatherAPI.js"></script>
<script src="Views/Scripts/Facts.js"></script>

</head>

<body>

	<div class="wrapper">

		<div th:replace="templates/Sidebar :: sidebar"></div>

		<div class="col-sm-12">

			<!-- Page Content  -->
			<div id="content">

				<div>
					<div class="row">

						<div class="col-sm-12 d-block d-md-none"
							style="margin-bottom: 10px;">
							<button type="button" id="sidebarCollapse" class="btn btn-info">
								<i class="fas fa-align-left"></i>
							</button>
						</div>

						<div class="col-sm-12">
							<div class="mb-4 block first">
								<div style="color: #808080;">
									<div style="font-size: 1.6em;">
										<a class="welcome" id="date"></a>

										<div class="welcome">
											<a class="d-none d-md-block" id="season">Jour et saison</a>
										</div>
									</div>
									<a id="messageMois">Js loading ...</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 d-none d-md-block">
							<div class="mb-4 secondImage">
								<img src="Views/Images/2.jpg" width="100%"
									th:src="@{Views/Images/2.jpg}"> <a
									class="ct-btn-scroll ct-js-btn-scroll" href="#section2"> <img
									alt="Arrow Down Icon"
									src="https://www.thenightministry.org/images/down-arrow-animated.gif ">
								</a>
							</div>
						</div>
					</div>

					<div class="row" id="section2">
						<div class="col-sm-8">
							<div class="mb-4 block">
								<div>
									<h4 class="SousSection">Météo au jardin</h4>

									<div class="container">

										<div class="row">
											<div class="col-lg-8">

												<div class="container">
													<div class="row">
														<div class="col-7">
															<fieldset>
																<legend>Aujourd'hui</legend>
																<img id="weatherIcon">
															</fieldset>
														</div>
														<div class="col-5">


															<table class="mtable">
																<tr>
																	<td>🌡️ &nbsp;</td>
																	<td id="temp"></td>
																</tr>
																<tr>
																	<td>💧 &nbsp;</td>
																	<td id="humi"></td>
																</tr>
																<tr>
																	<td>🌬️&nbsp;</td>
																	<td id="wind"></td>
																</tr>
																<tr>
																	<td>🌅 &nbsp;</td>
																	<td id="sunrise"></td>
																</tr>
																<tr>
																	<td>🌇 &nbsp;</td>
																	<td id="sunset"></td>
																</tr>
															</table>

														</div>
													</div>
												</div>


											</div>
											<div class="col-lg-4 d-none d-md-block">
												<fieldset>
													<legend>&nbsp;Demain&nbsp;</legend>
													<a style="text-align: middle;" id="tomorrowTemp"></a>
												</fieldset>

												<fieldset>
													<legend>&nbsp;J+2&nbsp;</legend>
													<a style="text-align: middle;" id="J2Temp"></a>
												</fieldset>
											</div>
										</div>

									</div>

								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mb-4 block">
								<h4 class="SousSection">Arroseurs du jour 💧</h4>
								<h6>Lorem Ipsum, de 8h à 9h</h6>
								<h6>Noël Flantier, de 17 à 18h</h6>
							</div>
						</div>
					</div>

					<div class="row">

						<!-- Here is the map of ISEP -->
						<div class="col-sm-6 d-none d-md-block">
							<div class="block">
								<div class="mapouter">
									<div class="gmap_canvas">
										<iframe width="100%" height="380" id="gmap_canvas"
											src="https://maps.google.com/maps?q=ISEP%20issy&t=k&z=17&ie=UTF8&iwloc=&output=embed"
											frameborder="0" scrolling="no" marginheight="0"
											marginwidth="0"> </iframe>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 block2">

							<div class="mb-3  block block4">
								<h4 class="SousSection" id="factAnnouncer">Plant Fact #0</h4>
								<div id="dayFact" style="text-align: justify; text-justify: inter-word;">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
							</div>

							<div class="block block3">
								<h4 class="SousSection">En ce moment au jardin</h4>
								<div class="table-responsive table-condensed">
									<table class="table" bordercolor="#fff">
										<thead>
											<tr>
												<th>Plante</th>
												<th>Quantité</th>
												<th>Planté le</th>
												<th>Récolte</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>En développement</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>

										</tbody>
									</table>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
</body>
<script src="Views/Scripts/Facts.js"></script>


</html>