<html lang="fr">
<html xmlns:th="https://www.thymeleaf.org">

<head>
<div th:replace="templates/header :: header"></div>
<title>PlanT - Infos</title>
<link rel="stylesheet" type="text/css" href="Views/Styles/infos.css" />

</head>

<body>

	<div class="wrapper">

		<div th:replace="templates/Sidebar :: sidebar"></div>

		<div class="col-sm-12">
			<div id="content">
				<h1>Informations</h1>

				<div class="block">
					<div class="TitreInfo">GDPR</div>
					<div class="paragraphe">Ce site respecte le reglement
						g&eacute;n&eacute;ral sur la protection des donn&eacute;es : Nous
						ne collectons que les informations que vous entrez dans les
						formulaires et ne stockons que des cookies absolument
						n&eacute;cessaires au fonctionnement du site. Vos donn&eacute;es
						sont conserv&eacute;es de facon crypt&eacute;e, et nous vous
						notifirons tout de suite en cas d'incident a ce sujet.</div>
				</div>

				<div class="block">
					<div class="TitreInfo">Contenu prot&eacute;g&eacute;</div>
					<div class="paragraphe">Le contenu de ce site appartient
						exclusivement a PlanT inc. et ses membres. Les donn&eacute;es de
						votre compte sont a vous, mais les images, ressources
						technologiques et cr&eacute;atives sont priv&eacute;es.</div>
				</div>

				<div class="block">
					<div class="TitreInfo">Accessibilit&eacute; et
						pr&eacute;cautions</div>
					<div class="paragraphe">Ce site est accessible aux personnes
						aveugles &eacute;quip&eacute;es des logiciels NVDA
						appropri&eacute;s, ainsi qu'aux personnes sourdes, ne comprennnant
						pas d'effets sonores.</div>
				</div>

				<div class="block">
					<div class="TitreInfo">Team Dev</div>
					<div class="paragraphe">
						Ce site a &eacute;t&eacute; d&eacute;velopp&eacute; au printemps
						de 2020 par les membres suivants :
						<ul>
							<li>Raphael Caillon</li>
							<li>Weiyi Chen</li>
							<li>Adrien Doste</li>
							<li>Alexandre Leunens</li>
							<li>Julien Parizot</li>
						</ul>
					</div>

				</div>

			</div>
		</div>
</body>

</html>