:root {
    --white : #fff;
    --lightYellow : #EAE4C2;
    --lightPurple : #8E70B6;
    --lightGreen : #82AE35;

    --blue : #1e90ff;
    --green : #228b22;
    --brown : #a06631;
    --red : #ff0080;
    --gray : #808080;
}