body {
	background: #EAE4C2;
}
.wrapper{
	display:flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.main {
	width: 800px;
	padding: 40px;
	background-color: #fff;
	border-radius:10px;
}

.login-top {
	padding: 2.3em 2em;
}

.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}

input[type="text"], input[type="password"] {
	padding: 10px 10px 10px 0px;
	border: none;
	border-bottom: 2px solid #999;
	-webkit-appearance: none;
}

.login-bottom {
	margin-top: 2em;
}

.login-bottom ul{
	padding:0;
}

.login-bottom li {
	display: inline-block;
}

.login-bottom li:nth-child(2) {
	float: right;
}

.link{
	display:flex;
	justify-content: center;
}