@import
	"https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

li:nth-child(6) a {
	color: #fff;
	background: #8E70B6;
}

body {
	font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus {
	color: #fff;
	text-decoration: none;
}

.switchs, #UpdateButton {
	display: none;
}

.formInput {
	padding: 2px;
	line-height: 100%;
	color: #b7b7b7;
	margin-bottom: 10px;
	width: 49%;
}

.pwdInput {
	width: 40%;
}

.right {
	float: right;
}

#visibility {
	height: 30px;
	margin-left: 10px;
}

#same {
	height: 30px;
	margin-left: 10px;
}

.fullBox {
	background-color: #EAE4C2;
	padding: 10px;
	font-size: 2em;
	font-weight: bold;
	color: #848484;
	border: 5px solid #EAE4C2;
}

.initialInvisible {
	display: none;
}

.emptyBox {
	padding: 10px;
	font-size: 1.5em;
	color: #b7b7b7;
	border: 5px solid #EAE4C2;
	line-height: 250%;
}

hr {
	border: 2px solid #EAE4C2;
	margin-right: 50px;
	margin-left: 50px;
}

.whiteBox {
	color: white;
	font-size: 1.5em;
}

.neutralButton {
	border: none;
	margin: 0;
	text-decoration: none;
	background: #EAE4C2;
	font-size: 1em;
	font-weight: bold;
	color: #848484;
}

.Initiale {
	margin-top: 30px;
}

img, figure {
	max-width: 100%;
}