<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Fragments for the sidebar</title>
</head>

<body>
	<div th:fragment="sidebar">

		<nav id="sidebar">

			<a href="@{/accueil}">
				<div class="sidebar-header">
					<h1 class="d-none d-md-block">Plan-T</h1>
					<strong>PL.</strong>
				</div>
			</a>

			<ul class="list-unstyled components">
				<li class="active"><a href="@{/accueil}" class="page"> <img class="hidden " src="./Images/accueil.png">
						<div class="Titre d-none d-md-block">
							<img src="./Images/accueil.png">&nbsp;&nbsp;&nbsp;&nbsp;Accueil
						</div>
					</a></li>


				<li><a href="@{/calendrier}" class="page"> <img class="hidden" src="./Images/calendrier.png">
						<div class="Titre d-none d-md-block">
							<img src="./Images/calendrier.png">&nbsp;&nbsp;&nbsp;&nbsp;Calendrier
						</div>
					</a></li>

				<li>
					<a href="@{/login}" class="page">
						<img class="hidden" src="./Images/plan.png">
						<div class="Titre d-none d-md-block">
							<img src="./Images/plan.png">&nbsp;&nbsp;&nbsp;&nbsp;Jardin
						</div>
					</a>
				</li>

				<li><a href="@{/arrosage}" class="page"> <img class="hidden" src="./Images/arrosage.png">
						<div class="Titre d-none d-md-block">
							<img src="./Images/arrosage.png">&nbsp;&nbsp;&nbsp;&nbsp;Arrosage
						</div>
					</a></li>

				<li><a href="@{/formation}" class="page"> <img class="hidden" src="./Images/cours.png">
						<div class="Titre d-none d-md-block">
							<img src="./Images/cours.png">&nbsp;&nbsp;&nbsp;&nbsp;Formation
						</div>
					</a></li>

				<li><a href="@{/moncompte}" class="page"> <img class="hidden" src="./Images/compte.png">
						<div class="Titre d-none d-md-block">
							<img src="./Images/compte.png">&nbsp;&nbsp;&nbsp;&nbsp;Connexion
						</div>
					</a></li>

			</ul>

			<div class="sidebar-footer">
				<ul class="list-unstyled components">
					<li><a href="@{/infos}"> <img id="image_infos" src="./Images/infos.png">
						</a></li>
				</ul>
			</div>

		</nav>
		</sidebar>

</body>

</html>