<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Fragments for the sidebar</title>
<script type="text/javascript">
	$(document).ready(function() {
		$('#sidebarCollapse').on('click', function() {
			$('#sidebar').toggleClass('active');
		});
	});
</script>

</head>

<body>
	<div th:fragment="sidebar">

		<nav id="sidebar">

			<a href="/accueil">
				<div class="sidebar-header">
					<h1 class="d-none d-md-block" style="text-align: center;">Plan-T</h1>
					<strong>PL.</strong>
				</div>
			</a>

			<ul class="list-unstyled components pages">
				<li><a href="/accueil" class="page un"> <img
						class="hidden " src="Views/Images/accueil.png"
						th:src="@{Views/Images/accueil.png}">
						<div class="Titre d-none d-md-block">
							<img src="Views/Images/accueil.png"
								th:src="@{Views/Images/accueil.png}">&nbsp;&nbsp;&nbsp;&nbsp;Accueil
						</div>
				</a></li>


				<li><a href="/calendrier" class="page deux"> <img
						class="hidden" src="Views/Images/calendrier.png"
						th:src="@{Views/Images/calendrier.png}">
						<div class="Titre d-none d-md-block">
							<img src="Views/Images/calendrier.png"
								th:src="@{Views/Images/calendrier.png}">&nbsp;&nbsp;&nbsp;&nbsp;Calendrier
						</div>
				</a></li>

				<li><a href="/jardin" class="page trois"> <img
						class="hidden" src="Views/Images/plan.png"
						th:src="@{Views/Images/plan.png}">
						<div class="Titre d-none d-md-block">
							<img src="Views/Images/plan.png"
								th:src="@{Views/Images/plan.png}">&nbsp;&nbsp;&nbsp;&nbsp;Jardin
						</div>
				</a></li>

				<li><a href="/arrosage" class="page quatre"> <img
						class="hidden" src="Views/Images/arrosage.png"
						th:src="@{Views/Images/arrosage.png}">
						<div class="Titre d-none d-md-block">
							<img src="Views/Images/arrosage.png"
								th:src="@{Views/Images/arrosage.png}">&nbsp;&nbsp;&nbsp;&nbsp;Arrosage
						</div>
				</a></li>

				<li><a href="/formation" class="page cinq"> <img
						class="hidden" src="Views/Images/cours.png"
						th:src="@{Views/Images/cours.png}">
						<div class="Titre d-none d-md-block">
							<img src="Views/Images/cours.png"
								th:src="@{Views/Images/cours.png}">&nbsp;&nbsp;&nbsp;&nbsp;Formation
						</div>
				</a></li>

				<li><a href="/compte" class="page six"> <img class="hidden"
						src="Views/Images/compte.png" th:src="@{Views/Images/compte.png}">
						<div class="Titre d-none d-md-block">
							<img src="Views/Images/compte.png"
								th:src="@{Views/Images/compte.png}">&nbsp;&nbsp;&nbsp;&nbsp;Compte
						</div>
				</a></li>

			</ul>

			<div class="sidebar-footer" id="sidebar-footer">
				<ul class="list-unstyled components">
					<li><a href="/infos" class="sept"> <img id="image_infos"
							src="Views/Images/infos.png" th:src="@{Views/Images/infos.png}">
					</a></li>
					<li><a href="/logout" class="sept"><img id="image_logout"
							src="Views/Images/logout.png" th:src="@{Views/Images/logout.png}">
					</a></li>
				</ul>
			</div>

		</nav>
	</div>

</body>

</html>